LazyBM-Python/src/files/

LazyBM-Python/src/blockMaxIndex.dat
LazyBM-Python/src/blockMaxIndexMetadata.dat
LazyBM-Python/src/fileIndex.txt
LazyBM-Python/src/fileLengths.txt
LazyBM-Python/src/termIndex.txt

.idea
LazyBM-Python/src/.idea

LazyBM-Python/src/__pycache__